@model Boekenbibliotheek.Models.Book

<h1>Verwijder boek</h1>

<p>Weet je zeker dat je het boek @Model.Title wilt verwijderen?</p>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <button type="submit">Verwijderen</button>
    <a asp-action="Index">Annuleren</a>
</form>
